<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="/static/about.css">
    <script src="https://kit.fontawesome.com/f1e37334f6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="section-title">
            <h1>ABOUT US</h1>
        </div>

        <div class="row">
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="/static/imgs/arsi.jpeg" alt="Team Image" class="arsi">
                    </div>
                    <div class="team-content">
                        <div class="member">
                            <h2>Arsalan Bashir</h2>
                            <h4><a href="mailto:arsalanbashir29@gmail.com">arsalanbashir29@gmail.com</a></h4>
                            <ul>
                                <li>
                                  <a class="facebook" href="https://www.linkedin.com/in/arsalanbashir29/">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="twitter" href="https://twitter.com/_a_r_s_i">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="fa-brands fa-square-twitter" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="instagram" href="https://www.instagram.com/a_r_s_i">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="google" href="https://wa.me/916005463695">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
                                  </a>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="/static/imgs/tt.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Taha Tajamul</h2>
                        <h4>syedatahatajamul@gmail.com</h4>
                        <ul>
                            <li>
                              <a class="facebook" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="twitter" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-square-twitter" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="instagram" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="google" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                    </div>
                   
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="/static/imgs/sadiya.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Sadiya Jameel</h2>
                        <h4>syedasadiya@gmail.com</h4>
                        <ul>
                            <li>
                              <a class="facebook" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="twitter" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-square-twitter" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="instagram" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="google" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                    </div>
                  
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="/static/imgs/sui.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Suha Sehar N</h2>
                        <h4>suhatnayk@gmail.com</h4>
                        <ul>
                            <li>
                              <a class="facebook" href="https://www.linkedin.com/in/suhaseher/">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="twitter" href="https://twitter.com/sushiiii02">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-square-twitter" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="instagram" href="">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li>
                              <a class="google" href="https://wa.me/918147539244">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/" class="exit"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></a>
    </div>
    <footer style="position: fixed; bottom: 5px;">
        &copy; 2024 - Emotion Detection System</footer>
</body>
</html>